// Buttons used across project

// Navigation

.nav-btn-container {
    text-decoration: none;
    color: black;
    padding-right: 5%;
}

// Portfolio

.project-code-tags {
    background-color: $clay;
    border: 1px solid $darkclay;
    padding: 1.5%;
    color:white;
}
.project-code-tags:hover {
    background-color: $lightclay;
    transition-delay: 0.3s ease; 
    cursor: pointer;
   }

// About Me

.experience-interest-list-items__button {
    //     display: block;
    //     width: 100%;
        border: none;
    background-color:$mainbeige;
    
    }

    .ex-in-btn a:hover {
        background-color: $darkclay;
        transition-delay: 0.3s ease;
    }


    // Contact

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
         font-size: 20px;
         font-family: Arial, Helvetica, sans-serif;
        line-height: 28.8px;
        border: 5px solid $darkclay;
        margin: 20px;
        padding: 15px 40px;
        background-color: $clay;
        width: 40%;
        height: auto;
        color: $offwhite;
        letter-spacing: 2px;
        cursor: pointer;
    
    }
    .contact:hover {
        background-color: $darkclay;
        transition-delay: 0.3s ease;
    }