// Get in Touch section //

.get-in-touch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.big-heading {
    font-size: 100px;
    font-family: "Montserrat";
    margin-bottom: 1%;
    font-weight: 100;
    text-align: center;
  }


// @media screen and (max-width:768px) {
//     .contact {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center; 
//         width: 60%;
//     }

//     .big-heading {
//         font-size: 60px;
//     }
// }