// Get in Touch section //

.get-in-touch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.big-heading {
    font-size: 100px;
    font-family: "Montserrat";
    margin-bottom: 1%;
    font-weight: 100;
    text-align: center;
  }

// .contact {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//      font-size: 24px;
//      font-family: Arial, Helvetica, sans-serif;
//     line-height: 28.8px;
//     border: 5px solid $darkclay;
//     margin: 20px;
//     padding: 40px;
//     background-color: $clay;
//     width: 20%;
//     color: $offwhite;
//     letter-spacing: 2px;
//     cursor: pointer;

// }
// .contact:hover {
//     background-color: $darkclay;
//     transition-delay: 0.3s ease;
// }

@media screen and (max-width:768px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        width: auto;
    }

    .big-heading {
        font-size: 60px;
    }
}