/* CORE STYLING ELEMENTS */



body {
    background-color: $mainbeige;
    color:black;
}

.main {
    margin-top: 30px;
    width: 100%;
}

// .navigation__header, 
.header__title, .about-me-article__header, .skills-technical-section__header, .my-portfolio-section__header, .get-in-touch__header {
    font-size: 48px;
    font-family: "Montserrat";
    letter-spacing: 1px;
    margin-left: 5%;
    &--footer {
        margin-left: 0;
    }
    }

    svg {
        color: $darkclay;
    }

    .highlight {
        display: inline;
        color: $clay;
    }
