// STYLING FOR LARGE "JUNIOR SOFTWARE DEVELOPER." INTRO SECTION // 

.big-top-heading {
    font-size: 128px;
    font-family: "Montserrat";
    font-weight: 1;
    text-align: center;
    line-height: 153.6px;
    margin-left: 10%;
    letter-spacing: 2px;
    padding-top: 15%;
    padding-bottom: 0%;  

    &__svg {
        display: block;
        width:20%;
    }
}
 
.header {
    width: 90%;
}

.header-group {
    margin-top: 140px;
    margin-bottom: 5%;
}

.header-text {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    font-size: 20px;
    line-height: 32px;
    width: 40%;
}