// Media Queries

// Core Styling Elements

@media screen and (max-width:768px) {
    .navigation__header, .header__title, .about-me-article__header, .skills-technical-section__header, .my-portfolio-section__header, .get-in-touch__header {
        width: 30%;
        font-size: 20px;
    }
}


// INTRO SECTION

@media screen and (max-width:768px) {
    
    .header-group {
        margin-bottom: 10%;
        margin-top: 20%;
    }
    
    .big-top-heading {
        font-size: 45px;
        font-weight: 1;
        text-align: left;
        letter-spacing: 1px;
        margin-left: 2%;
        padding-top: 20%;
        padding-bottom: 0%;  
        line-height: 45px;
    }
    .header-text {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        width: 100%;
        line-height: 20px;
        margin: 2%;
    }
}

//NAV BAR SECTION 

@media screen and (max-width:768px) {
   
    .navigation {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: $mainbeige;
        position: fixed;
        top: 0;
        height: auto;

        ul {
            display: none;
        }
        .navigation__header {
            display: flex;
            
        }
    }
    
}

@media screen and (min-width:768px) {
    .nav-mobile-icon {
        display: none;
    }
}

// PORTFOLIO SECTION

@media screen and (max-width:768px) {

    .my-portfolio-section {
        width: 100%;
        height: auto;
        
        .portfolio-header-container {
            display: flex;
            align-content: space-between;
         }
        
         .my-portfolio-section-header-decal {
            display: none;
         }
     
         .portfolio-grid-container {
             display: grid;
             justify-content: center;
             justify-items: center;
             grid-template-columns: repeat(1, 1fr);
             grid-template-rows: 3;
             text-align: center;
             width: 90%;
             margin-left: 5%;
             height: auto;
         }

         .project-card-phone {
            display: none;
         }

         .project-header {
            font-size: 25px;
         }

         .portfolio-landing-page {
            svg {
                width: 100%;
                height: auto;
            }
         }
     
         .project-card {
            width: 100%;
            height: auto;
             display: inline-flex;
             flex-direction: column;
         }
     
         .project-box-first-line {
             display: flex;
             align-items: center;
             justify-content: space-between;
            //  border: %;
             margin-top: 1%;
         }
     
         .dual-icon-selection {
             display: inline-flex;
             gap: 5%;
         }

         .header-embellishment-decal-nav {
            display: flex;
            justify-content: flex-start;
           
         }
     
         .project-box-second-line {
             display: flex;
             flex-direction: row;
             font-size: 10px;
             font-family: Arial, Helvetica, sans-serif;
             gap: 2%;
         }

         .project-code-tags {
             background-color: $clay;
             border: 1px solid $darkclay;
             padding: 1.5%;
             color:white;
         }
     }

}

// ABOUT ME ARTICLE 

@media screen and (max-width:768px) {
    .img-about-me {
        &__grid {
            img {height: 100%;
                width: 100%;}
            }
        }
    .about-me-container {
        display: block;
    }
    .experience-interest-list-items {
        &__line {
            width: 90%;
        }
    }
    .body-text-about-me {
    display: flex;
    align-items: center;
    }

    .ex-in-btn {
            width: 100%;
            border: none;
            text-align: left;
        background-color:$mainbeige;
            
        }
}

// CONTACT SECTION 

@media screen and (max-width:768px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        width: auto;
    }

    .big-heading {
        font-size: 60px;
    }
}

// FOOTER SECTION 

@media screen and (max-width:768px) {

    .social-buttons {
        display: flex;
        justify-content: center; 
        align-items: center;
    }

}