// NAVIGATION BAR STYLING \\

// Styling for the navigation bar section, including list items and styling. 

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: $mainbeige;
    position: fixed;
    top: 0;
    width: 100%; 
    .header-embellishment-decal-nav {
        display: flex;
    }
    
    ul {
        display: flex;
        list-style-type: none;
        align-items: right;
        justify-content: center;
        padding: 1%;
        font-family: Arial, Helvetica, sans-serif;
        font-size:18px;
        width: 50%;
        padding-left: 50%;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: flex;
        background-color: $mainbeige;
        gap: 1%;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
    }
    
    li a:hover {
        background-color: $darkclay;
        color: white;
        transition-delay: 0.3s ease;
    }
    
    li a:visited {
        color: inherit;
    }
    
    .navigation__header {
       gap: 30%;
    
     }

    .nav-mobile-icon {
        display: none;
    }

    .nav-btn.container {
        display: flex;
        flex-direction: row;
        
    }
    
}