// Skills Section // 

.skills-technical-section {
    background-color: #ccc2b9;
    padding-bottom: 3%;
}
.skills-technical-header-container {
    display: flex;
    align-items: center;
    gap: 7%;
    font-family: Arial, Helvetica, sans-serif;
}

.svg-container-skills-icons {
    display: flex;
    justify-content: space-evenly;
    grid-row: 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: $offwhite;
}

.skills-icon-name {
    background-color: #8a5e5e;
    padding: 1%;
    border: 1px solid #6e4d4d;
}

.skill-icons__icon {
    fill: white;
}

.skill-icons__icon:hover {
    fill: $darkclay;
    transition-delay: 0.3s ease;
}

@media screen and (max-width:768px) {
    .svg-container-skills-icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        font-family: Arial, Helvetica, sans-serif;
        color: $offwhite;
    }
    .skills-technical-header-container {
        display: block;
        padding-top: 5%;
    }
    .skills-technical-section_bodyText {
        display: block;
        font-size: 12px;
        text-align: left;
        margin: 3%;
        padding-bottom: 5%;
    }
}
