/* CORE STYLING ELEMENTS */

#bigHeading {
font-size: 128px;
font-weight: 400;
text-align: center;
}

._header {
font-size: 48px;
font-family: "Cormorant", serif;
}

.img {
    flex-wrap: wrap;
    height: 200px;
    width: auto;
}

#bigBottomHeading {
   font-size: 128px;
   font-weight: 400;
   text-align: center;
 }

 .about-me-container {
    display:flex;
    justify-content: space-between;
    
 }