// INDEX //

// - CORE STYLING ELEMENTS inc. palette
@import "./palette.scss";

// - INTRO SECTION
@import "./intro.scss";

// - NAVIGATION SECTION
@import "./navbar.scss";

// - PORTFOLIO SECTION
@import "./portfolio.scss";

// - ABOUT ME SECTION 
@import "./aboutme.scss";

// - SKILLS SECTION 
@import "./skills.scss";

// - CONTACT SECTION 
@import "./contact.scss";

// - FOOTER SECTION
@import "./footer.scss";

// - MEDIA QUERIES
@import "./mediaqueries.scss";







/* CORE STYLING ELEMENTS */



body {
    background-color: $mainbeige;
    color:black;
}

.main {
    margin-top: 30px;
    width: 100%;
}

.navigation__header, .header__title, .about-me-article__header, .skills-technical-section__header, .my-portfolio-section__header, .get-in-touch__header {
    font-size: 48px;
    font-family: "Montserrat";
    letter-spacing: 1px;
    margin-left: 7%;
    &--footer {
        margin-left: 0;
    }
    }

    svg {
        color: $darkclay;
    }

    .highlight {
        display: inline;
        color: $clay;
    }
