// INDEX //

// - CORE STYLING ELEMENTS
// - INTRO SECTION
// - NAVIGATION SECTION
// - ABOUT ME SECTION 
// - SKILLS SECTION 
// - CONTACT SECTION 
// - FOOTER SECTION

@import "./palette.scss";

/* CORE STYLING ELEMENTS */



body {
    background-color: $darkblue;
    color:black;
}

.main {
    margin-top: 30px;
    width: 100%;
}

.navigation__header, .header__title, .about-me-article__header, .skills-technical-section__header, .my-portfolio-section__header, .get-in-touch__header {
    font-size: 48px;
    font-family: "Montserrat";
    letter-spacing: 1px;
    margin-left: 134px;
    &--footer {
        margin-left: 0;
    }
    }

    svg {
        color: $darkclay;
    }

    .highlight {
        display: inline;
        color: $clay;
    }

    @media screen and (max-width:768px) {
        .navigation__header, .header__title, .about-me-article__header, .skills-technical-section__header, .my-portfolio-section__header, .get-in-touch__header {
            width: 50%;
            font-size: 25px;
            margin: 5%;
            margin-right: 0;
           
        }
    }


// STYLING FOR LARGE "JUNIOR SOFTWARE DEVELOPER." INTRO SECTION // 

.big-top-heading {
    font-size: 128px;
    font-family: "Montserrat";
    font-weight: 1;
    text-align: center;
    line-height: 153.6px;
    margin-left: 10%;
    letter-spacing: 2px;
    padding-top: 15%;
    padding-bottom: 0%;  

    &__svg {
        display: block;
        width:20%;
    }
}
 
.header {
    width: 90%;
}

.header-group {
    margin-top: 140px;
    margin-bottom: 5%;
}

.header-text {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    font-size: 20px;
    line-height: 32px;
    width: 40%;
}

@media screen and (max-width:768px) {
    
    .header-group {
        margin-bottom: 10%;
    }
    
    .big-top-heading {
        font-size: 45px;
        font-weight: 1;
        text-align: left;
        letter-spacing: 1px;
        margin-left: 2%;
        padding-top: 2%;
        padding-bottom: 0%;  
        line-height: 45px;
    }
    .header-text {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        width: 100%;
        line-height: 20px;
        margin: 2%;
    }
}

 // NAVIGATION BAR STYLING \\

 .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: $darkblue;
    position: fixed;
    top: 0;
    width: 100%; 
    .header-embellishment-decal-nav {
        display: flex;
    }
    
    ul {
        list-style-type: none;
        align-items: right;
        justify-content: center;
        padding: 1%;
        font-family: Arial, Helvetica, sans-serif;
        font-size:18px;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        padding: 
        background-color: $darkblue;
        gap: 1%;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
    }
    
    li a:hover {
        background-color: $darkclay;
        color: white;
        transition-delay: 0.3s ease;
    }
    
    li a:visited {
        color: inherit;
    }
    
    .navigation__header {
       gap: 30%;
    
     }
    
    .btn-nav-all {
       background-color: HEX#0C2131;
       border: none;
       cursor: pointer;
    }
    
    .nav-mobile-icon {
        background-color: #ccc2b9;
        display: none;
    }
    
}


@media screen and (max-width:768px) {
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: $darkblue;
        position: fixed;
        top: 0;
        width: 100%;
        
    }

    ul {
        display: none;
    }

    .nav-mobile-icon {
        display: flex;
        padding-right: 10%;
    }
    
}

// Portfolio Section
.my-portfolio-section {
   background-color: #ccc2b9;
   padding-bottom:3%;
   
   .portfolio-header-container {
    display: flex;
    align-items: center;
    gap: 0.5%;
    }

    .portfolio-grid-container {
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        row-gap: 64px;
        margin: 0 10%;
        column-gap: 2%;
    }

    .project-card {
        max-width:fit-content;
        display: inline-flex;
        flex-direction: column;
    }
    
    .header-embellishment-decal-nav {
        display: flex;
        justify-content: flex-start;
     }

    .project-box-first-line {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        border: 2%;
        margin-top: 1%;
    }

    .dual-icon-selection {
        display: inline-flex;
        gap: 5%;
    }

    .project-header {
        font-size: 42px;
        font-family: "Montserrat";
        font-weight: 200;
        margin: 0;
    }

    .project-box-second-line {
        display: flex;
        flex-direction: row;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        gap: 2%;
    }

    .project-code-tags {
        background-color: $clay;
        border: 1px solid $darkclay;
        padding: 1.5%;
        color:white;
    }
    .project-code-tags:hover {
        background-color: $lightclay;
        transition-delay: 0.3s ease; 
        cursor: pointer;
       }

}

@media screen and (max-width:768px) {

    .my-portfolio-section {
        width: 100%;
        height: auto;
        
        .portfolio-header-container {
            display: flex;
            align-content: space-between;
         }
        
         .my-portfolio-section-header-decal {
            display: flex;
            width: 100%;
            padding: 100px;
            background-color: red;
         }
     
         .portfolio-grid-container {
             display: grid;
             justify-content: center;
             justify-items: center;
             grid-template-columns: repeat(1, 1fr);
             grid-template-rows: 3;
             text-align: center;
             width: 80%;
             height: auto;
         }

         .project-card-phone {
            display: none;
         }

         .project-header {
            font-size: 25px;
         }

         .portfolio-landing-page {
            svg {
                width: 100%;
                height: auto;
            }
         }
     
         .project-card {
            width: 100%;
            height: auto;
            
             display: inline-flex;
             flex-direction: column;
         }
     
         .project-box-first-line {
             display: flex;
             align-items: center;
             justify-content: space-between;
             border: 2%;
             margin-top: 1%;
         }
     
         .dual-icon-selection {
             display: inline-flex;
             gap: 5%;
         }

         .header-embellishment-decal-nav {
            display: flex;
            justify-content: flex-start;
           
         }
     
         .project-box-second-line {
             display: flex;
             flex-direction: row;
             font-size: 10px;
             font-family: Arial, Helvetica, sans-serif;
             gap: 2%;
         }

         .project-code-tags {
             background-color: $clay;
             border: 1px solid $darkclay;
             padding: 1.5%;
             color:white;
         }
     }

}

// ABOUT ME SECTION

.header-embellishment-decal {
   margin-left: 134px;
}
.about-me-article {
    margin: 10px;
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 70px 0px;
}

.space {
    width: 0px;
    height:300px;
}

 .about-me-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-between;
    text-align: left;
    justify-content: center;
    row-gap: 64px;
    margin: 0 10%;
 }

 .about-me-text_ {
    display: flex;
    font-size: auto;
    width: 80%;
    //margin-left: 134px;
    line-height: 28.8px;
 }
 
 .body-text-about-me {
    display: flex;
    flex-direction: column;
    align-content: right;
    justify-content: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

 .img-about-me {
    &__grid {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 80%;
        margin-left: 10%;
        align-content:left;
        }
 }

.experience-interest-first-line {
    display: block;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    font-weight: 500;

}

.experience-interest-container {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.experience-interest-list-items {

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px;
        
    
    }
}

@media screen and (max-width:768px) {
    .img-about-me {
        &__grid {
            img {height: 100%;
                width: 100%;}
            }
        }
    .about-me-container {
        display: block;
    }
    .experience-interest-list-items {
        &__line {
            width: 90%;
        }
    }
    .body-text-about-me {
    display: flex;
    align-items: center;
    }

    .ex-in-btn {
            width: 100%;
            border: none;
            text-align: left;
        //     cursor: pointer;
        background-color:$darkblue;
            
        }
}


.ex-in-btn {
//     display: block;
//     width: 100%;
    border: none;
//     cursor: pointer;
background-color:$darkblue;
    
}


// Skills Section // 

.skills-technical-section {
    background-color: #ccc2b9;
    padding-bottom: 3%;
}
.skills-technical-header-container {
    display: flex;
    align-items: center;
    gap: 7%;
    font-family: Arial, Helvetica, sans-serif;
}

.svg-container-skills-icons {
    display: flex;
    justify-content: space-evenly;
    grid-row: 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: $offwhite;
}

.skills-icon-name {
    background-color: #8a5e5e;
    padding: 1%;
    border: 1px solid #6e4d4d;
}

.skill-icons__icon {
    fill: white;
}

.skill-icons__icon:hover {
    fill: $darkclay;
    transition-delay: 0.3s ease;
}

@media screen and (max-width:768px) {
    .svg-container-skills-icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        font-family: Arial, Helvetica, sans-serif;
        color: $offwhite;
    }
    .skills-technical-header-container {
        display: block;
        padding-top: 5%;
    }
    .skills-technical-section_bodyText {
        display: block;
        font-size: 12px;
        text-align: left;
        margin: 3%;
        padding-bottom: 5%;
    }
}

// Get in Touch section //

.get-in-touch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.big-heading {
    font-size: 100px;
    font-family: "Montserrat";
    margin-bottom: 1%;
    font-weight: 100;
    text-align: center;
  }

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
     font-size: 24px;
     font-family: Arial, Helvetica, sans-serif;
    line-height: 28.8px;
    border: 5px solid $darkclay;
    margin: 20px;
    padding: 40px;
    background-color: $clay;
    width: 20%;
    color: $offwhite;
    letter-spacing: 2px;
    cursor: pointer;

}
.contact:hover {
    background-color: $darkclay;
    transition-delay: 0.3s ease;
}

@media screen and (max-width:768px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        width: auto;
    }

    .big-heading {
        font-size: 60px;
    }
}

//footerstyle section //

.social-buttons {
    display: flex;
    justify-content: center; 
        align-items: center;
    height: 12%;
    width: 100%;
    background-color: $clay;
    background-size: 100% 100%;
    padding: 1%;
    gap:10px
}


@media screen and (max-width:768px) {

    .social-buttons {
        display: flex;
        justify-content: center; 
        align-items: center;
    }

}
// reduce every px font size by half and see how the page changes